
<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="0Xd2uy9m1xh1MKBE+t1DvD5zIF/0IighRWstZivU+LUM1U+oVEBkUnRedlLIoYv3LfwUg48xV+2/OFbKRSeojw==" />

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload" />
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_269315" href="/books/269315">Show</a></td>
        <td><a class="edit_269315" href="/books/269315/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_269315" rel="nofollow" data-method="delete" href="/books/269315">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_269316" href="/books/269316">Show</a></td>
        <td><a class="edit_269316" href="/books/269316/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_269316" rel="nofollow" data-method="delete" href="/books/269316">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_269317" href="/books/269317">Show</a></td>
        <td><a class="edit_269317" href="/books/269317/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_269317" rel="nofollow" data-method="delete" href="/books/269317">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_269318" href="/books/269318">Show</a></td>
        <td><a class="edit_269318" href="/books/269318/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_269318" rel="nofollow" data-method="delete" href="/books/269318">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_269319" href="/books/269319">Show</a></td>
        <td><a class="edit_269319" href="/books/269319/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_269319" rel="nofollow" data-method="delete" href="/books/269319">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_269320" href="/books/269320">Show</a></td>
        <td><a class="edit_269320" href="/books/269320/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_269320" rel="nofollow" data-method="delete" href="/books/269320">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_269321" href="/books/269321">Show</a></td>
        <td><a class="edit_269321" href="/books/269321/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_269321" rel="nofollow" data-method="delete" href="/books/269321">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="QOm9qj/PoSyoBKPbcrVkn/j+bCdJGkK2oCF2fjJ4xKB4BDZ08At9bgVtlEgyVmFhlriovWwYuW1pw4qfwYdx6A==" />

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title" />
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body">
</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book" />
  </div>
</form>
  </body>
</html>
