<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebCampBackendNew</title>
</head>
<body>
  <header><h1>ようこそ Bookers へ！</h1></header>
  <main>
    <p>
    <span class = "initial">Bookers</span> では、さまざまな書籍に関するあなたの意見や</p>
    <p>
    印象を共有し交換することができます
      
    </p>
    <a href = "/homes/index"><p>start</p></a>
  </main>
</body>
</html>